<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Welders</title>
</head>
<body>
<!--/*@thymesVar id="welder" type="welderbase.model.Welder"*/-->
<h1 th:text="'List of Welders'">Welder List</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="welder : ${welders}">
        <td th:text="${welder?.id}">1</td>
        <td th:text="${welder?.firstName}">Andrey</td>
        <td th:text="${welder?.lastName}">Ermolenko</td>
    </tr>
    </tbody>
</table>
</body>
</html>